/* styles.css */
/* Custom styling for the navigation bar */
.navbar {
  border-bottom: 2px solid #333; /* Add a border at the bottom of the navbar */
}

.navbar-brand {
  font-size: 29px;
  font-weight: 600;
}

/* Change the color of the navbar toggler icon to white */
.navbar-toggler-icon {
  background-color: #fff; /* Change the background color of the navbar toggler icon to white */
  color: #000; /* Change the color of the navbar toggler icon to black */
}

.navbar-nav .nav-link {
  margin: 0 10px;
  font-weight: 500;
}

/* Add custom styling to the "Login" and "Register" buttons */
.navbar-nav .nav-item .nav-link {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color:gainsboro; 
}







/*For Login Page*/
body {
  font-family: "Lato", sans-serif;
}



.main-head{
  height: 150px;
  background: #FFF;
 
}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 50%;
  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #000 !important;
  color: #fff;
}

.navigate-home {
  background-color: #246bd6;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.navigate-home:hover {
  background-color:gainsboro; 
}




/* home page */
.hover-effect {
  transition: transform 0.3s;
  cursor: pointer;
}

.hover-effect:hover {
  transform: scale(1.025); /* Scale the div by 5% on hover */
}
