/* styles.css */
/* Custom styling for the navigation bar */
.navbar {
  border-bottom: 2px solid #333; /* Add a border at the bottom of the navbar */
}

.navbar-brand {
  font-size: 29px;
  font-weight: 600;
}

/* Change the color of the navbar toggler icon to white */
.navbar-toggler-icon {
  background-color: #fff; /* Change the background color of the navbar toggler icon to white */
  color: #000; /* Change the color of the navbar toggler icon to black */
}

.navbar-nav .nav-link {
  margin: 0 10px;
  font-weight: 500;
}

/* Add custom styling to the "Login" and "Register" buttons */
.navbar-nav .nav-item .nav-link {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color:gainsboro; 
}
